<div class="container-fluid" style="margin: 0px; padding: 0px">
    <header.component></header.component>
    <menu.component></menu.component>
    <div ng-show="ctrl.state === 'ready'" style="color: #000">
        <div>
            <div style="background-color: #fff; margin: 30px; padding: 20px">
                <div style="margin-bottom: 20px; border-bottom: #98bcd4 2px solid"><h4>Movimientos</h4></div>
                <table style="width: 100%">
                    <thead>
                        <tr style="text-align: center">
                            <th style="width: 10%">CC origen</th>
                            <th style="width: 10%">CC destino</th>
                            <th style="width: 10%">Fecha</th>
                            <th style="width: 10%">Cuantía</th>
                            <th style="width: 60%; text-align: left">Descripción</th>
                        </tr>
                    </thead>
                    <tbody style="border-top: #98bcd4 1px solid; margin: 5px">
                        <tr ng-repeat="m in ctrl.movements">
                            <td style="text-align: center" title="{{m.originName}}">{{m.originId}}</td>
                            <td style="text-align: center" title="{{m.targetName}}">{{m.targetId}}</td>
                            <td style="text-align: center">{{m.date}}</td>
                            <td style="text-align: center">{{m.amount}}</td>
                            <td style="text-align: left"><span ng-bind-html="m.description"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <waiting.component ng-show="ctrl.state === 'waiting'"></waiting.component>
</div>