<div class="view-panel container-fluid">
    <div ng-show="ctrl.state === 'ready'" class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <div>
                    <div class="signin-box" style="margin-top: 15%;">
                        <div class="signin-box-background">
                            <form>
                                <div class="form-group">
                                    <label for="team" class="cols-sm-2 control-label">Equipo</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="form-background-label input-group-text"><i class="signin-color fas fa-users" aria-hidden="true"></i></div>
                                            </div>
                                            <select ng-class="{'has-error': ctrl.error.team}" data-ng-model="ctrl.signupData.team" ng-options="team for team in ctrl.teams" class="form-border-input form-control">
                                                <option value="" disabled selected>Elige tu equipo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="username" class="cols-sm-2 control-label">Nombre de usuario</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="form-background-label input-group-text"><i class="signin-color fa fa-user fa" aria-hidden="true"></i></div>
                                            </div>
                                            <input ng-class="{'has-error': ctrl.error.username}" type="text" class="form-border-input form-control" name="signup-username" id="signup-username" placeholder="Introduce tu nombre de usuario" data-ng-model="ctrl.signupData.username"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signup-password" class="cols-sm-2 control-label">Contraseña</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="form-background-label input-group-text"><i class="signin-color fa fa-lock fa" aria-hidden="true"></i></div>
                                            </div>
                                            <input ng-class="{'has-error': ctrl.error.password}" type="password" class="form-border-input form-control" name="signup-password" id="signup-password" placeholder="Introduce la contraseña" data-ng-model="ctrl.signupData.password"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="signup-password2" class="cols-sm-2 control-label">Repite contraseña</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="form-background-label input-group-text"><i class="signin-color fa fa-lock fa" aria-hidden="true"></i></div>
                                            </div>
                                            <input ng-class="{'has-error': ctrl.error.password2}" type="password" class="form-border-input form-control" name="signup-password2" id="signup-password2" placeholder="Introduce la contraseña otra vez" data-ng-model="ctrl.signupData.password2"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 40px; padding: 0 0; height: 40px">
                                    <div style="float: right"><button ng-click="ctrl.signUp()" id="submit-signup" name="submit-signup" type="submit" class="btn btn-primary btn-lg btn-block signin-button">Registrar</button></div>
                                    <div style="float: left"><button ng-click="ctrl.goToSignIn()" id="cancel-signup" name="cancel-signup" type="submit" class="btn btn-info btn-lg btn-block signin-button">Cancelar</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <waiting.component ng-show="ctrl.state === 'waiting'"></waiting.component>
</div>
