<nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="text-align: center">
            <li class="nav-item" style="cursor: pointer; padding: 0 10px;">
                <a ng-click="ctrl.goTo(ctrl.STATE.HOME)">Movimientos</a>
            </li>
            <li class="nav-item" style="cursor: pointer; padding: 0 10px;">
                <a ng-click="ctrl.goTo(ctrl.STATE.TRANSFER)">Transferir</a>
            </li>
            <li class="nav-item" style="cursor: pointer; padding: 0 10px">
                <a ng-click="ctrl.goTo(ctrl.STATE.CODE)">Canjear código</a>
            </li>
        </ul>
    </div>
</nav>
